/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
    border: none;
}
.accordion__heading {
    font-weight: 600;
    color: var(--color-darker);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.accordion__item + .accordion__item {
    border-top: 1px solid var(--color-lighter);
}

.accordion__button {
    background-color: var(--color-white);
    transition: background 200ms;
    color: #444;
    cursor: pointer;
    padding: 24px 0;
    width: 100%;
    text-align: left;
    border: none;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.accordion__button:focus {
    outline: none;
}

.accordion__button:hover {
    background-color: var(--color-lighter);
    transition: background 200ms;
}

.accordion__button:before {
    transform-origin: 8px 6px;
    display: inline-block;
    content: "";
    min-height: 10px;
    min-width: 10px;
    margin-left: 12px;
    margin-right: 24px;
    border-bottom: 3px solid currentColor;
    border-right: 3px solid currentColor;
    transform: rotate(-45deg);
    transition: transform 200ms;
    color: var(--color-primary);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
    transform: rotate(45deg);
    transition: transform 200ms;
}

.accordion__panel {
    padding: 0 0 20px 0;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
