/* latin-ext */
/* @font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url('fonts/Ubuntu-Regular.woff2') format('woff2');
} */
/* latin-ext */
/* @font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('fonts/Ubuntu-Medium.woff2') format('woff2');
} */

body{
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Arial , sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: var(--font-size);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4{
  font-weight: 500;
}