label {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-m);
}

label>span {
    margin-bottom: 6px;
    font-size: 18px;
}

label>input[type="text"],
label>input[type="email"],
textarea {
    max-width: 640px;
    border: 1px solid var(--color-light);
    border-radius: 3px;
    padding: 20px;
    font-size: 18px;
    color: var(--color-darker);
    font-weight: 600;
}

label>input[type="text"],
label>input[type="email"] {
    height: 64px;
}


label>input:focus {
    border: 3px solid var(--color-primary);
    outline-width: 0;
    outline: none;
}

label>label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* justify-content: flex-end; */
    margin-bottom: 0;
}

label>label>span {
    font-size: 18px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 10px 10px 10px 0;
}

/*Aligning terms and conditionscheckbox with first line*/
#terms>div {
    align-items: baseline;
}

input[type="submit"] {
    display: inline-block;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-white);

    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    user-select: none;
    cursor: pointer;

    padding: 1rem 2rem;
    margin-bottom: var(--space-s);

    width: 100%;
    transform: translateY(0);
    transition: all var(--time-fast);
}


input[type="submit"]:hover {
    color: var(--color-white);
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
    transform: translateY(-1px);
    transition: all var(--time-fast);
}

input[type="submit"]:active {
    background: var(--color-primary-dark);
    transform: translateY(1px);
}