/*Browser Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: initial;
    /* scroll-behavior:smooth; */
    /* user-select: none; */
}

body {
    height: 100%;
    white-space: pre-line;
}

@media (min-width: 376px) {
    body {
        user-select: auto;
    }
}
