:root {
    /* main colors */
    --color-primary: #2a72d3;
    --color-primary-light: rgb(47, 125, 235);
    --color-primary-dark: #2360b2;

    --color-accent: #f10053;
    --color-accent-light: #ff6197;
    --color-accent-dark: #df004e;

    /* colors - shades of gray */
    --color-black: #1d1d21;
    --color-darker: #333;
    --color-dark: #68717d;
    --color-medium: #959595;
    --color-light: #cfd8e6;
    --color-lighter: #f2f5fa;
    --color-white: white;

    /* colors - feedback */
    --color-success: #00863b;
    --color-error: #f23e3e;
    --color-warning: #fad825;

    /* Spacing */
    --nav-height: 80px;
    --space-unit: 1.25em;
    /*Relative to html font-size*/
    --space-s: calc(0.5 * var(--space-unit));
    --space-m: calc(1 * var(--space-unit));
    --space-l: calc(2 * var(--space-unit));
    --space-side: 18px;
    --space-v: 36px;

    /* Timing */
    --time-fast: 0.2s;

    /* Typography */
    /*For mobile*/
    --small: 12px;
    --font-size: 16px;
    --h3: 18px;
    --h2: 20px;
    --h1: 36px;

    --line-height: 1.4;

    /* Unused variables */
    /* --ratio: 1.25;

  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--font-size) * var(--ratio) * var(--ratio)); */
}

@media (min-width: 480px) {
    :root {
        --h1: 40px;
        --space-side: 36px;
        --space-v: 72px;
    }
}

@media (min-width: 768px) {
    :root {
        --small: 16px;
        --font-size: 20px;
        --h3: 20px;
        --h2: 31px;
        --h1: 44px;
        --space-side: 72px;
        --space-v: 144px;
    }
}

@media (min-width: 1800px) {
    :root {
        --font-size: 1.45rem;
        --nav-height: 90px;
        font-size: 1.45rem;
        --h3: 29px;
        --h2: 45px;
        --h1: 64px;
    }
}
